* {
  font-family: 'Roboto', sans-serif;
}

body {
    /*background-image: linear-gradient(rgb(107, 107, 255), white, rgb(140, 254, 254));*/
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 50px; /* Big font size */
    font-weight: bold; /* Make it bold */
    text-align: center; /* Center align the text */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#input-link {
    width: 450px;
}

.submit {
    background-color: rgb(125, 254, 140);
    font-size: 25px;
    width: 110px;
    color: black;
    border-radius: 20px;
    padding: 0.5em;
    line-height: 0.5;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.submit:hover {
    box-shadow: 0 0 15px rgba(125, 254, 140, 0.8);
    transform: scale(1.1);
    cursor: pointer;
}

.entry {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.summary-box {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    border: 2px black solid;
    width: 800px;
    padding: 15px;
    border-radius: 10px;
    resize: vertical;
    height: 20rem;
    overflow: auto;
    cursor: pointer;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.2); /* Light gray background of spinner */
    border-top: 4px solid rgb(125, 254, 140); /* Green "active" part */
    border-radius: 50%; /* Make it a circle */
    width: 23px; /* Size of the spinner */
    height: 23px; /* Size of the spinner */
    animation: spin 1s linear infinite; /* Rotating animation */
    margin: 10px auto; /* Center it horizontally and add spacing */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-error {
    border: 2px solid red;
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.toast {
    position: fixed; /* Ensures the toast is fixed in the viewport */
    bottom: 20px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    background-color: rgba(255, 0, 0, 0.8); /* Red for errors */
    width: 30rem;
    margin-top: 2rem;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Hidden by default */
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}
