* {
  font-family: 'Roboto', sans-serif;
}

body {
    /*background-image: linear-gradient(rgb(107, 107, 255), white, rgb(140, 254, 254));*/
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 50px; /* Big font size */
    font-weight: bold; /* Make it bold */
    text-align: center; /* Center align the text */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#input-link {
    width: 450px;
}

.submit {
    background-color: rgb(125, 254, 140);
    font-size: 25px;
    width: 110px;
    color: black;
    border-radius: 20px;
    padding: 0.5em;
    line-height: 0.5;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.submit:hover {
    box-shadow: 0 0 15px rgba(125, 254, 140, 0.8);
    transform: scale(1.1);
    cursor: pointer;
}

.entry {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.summary-box {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    border: 2px black solid;
    width: 800px;
    padding: 15px;
    border-radius: 10px;
    resize: vertical;
    height: auto;
}